@use "utilities" as *;

@media (width < $threshold-mobile) {
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	nav {
		position: sticky;
		top: calc(-0.25 * 0.7 * $side-width - 6.25em);
		z-index: 1;

		text-align: center;
		border-bottom: $border-color $border-size solid;

		#portrait {
			position: absolute;
			left: 2em;
			top: 0.5em;
			margin-left: -2.7em;
			font-size: 70%;
		}

		h1 {
			display: inline-block;
			vertical-align: middle;
			position: relative;

			#logo-desktop {
				display: none;
			}

			#logo-mobile {
				display: inline-block;
				height: calc(0.25 * 0.7 * $side-width);
			}
		}

		#menu {
			.hamburger {
				display: none;
			}

			.hamburger-container {
				display: inline-block;
				height: 3em;
				width: 3em;
				margin-left: auto;
				cursor: pointer;
				z-index: 2;

				position: fixed;
				top: 1.5em;
				right: 3em;

				rotate: 10deg;
				transition: rotate $transition-time;

				background: url("../img/pentagon-emph.svg") no-repeat 0 0;
				background-size: 100% 100%;
			}

			.hamburger-container:hover {
				rotate: 10deg + 90deg;
				transition: rotate $transition-time;
			}

			.hamburger-button {
				margin-top: 0.355em;
				left: 0.995em;
				top: 1.1em;

				rotate: -10deg;
				transition: transform $transition-time;
			}

			.hamburger-container:hover .hamburger-button {
				transform: rotate(-90deg);
				transition: transform $transition-time;
			}

			.hamburger-button,
			.hamburger-button::before,
			.hamburger-button::after {
				display: block;
				background-color: $foreground-color;
				padding: 0;
				position: absolute;
				height: 2px;
				width: 1em;
				transition: transform $transition-time;
				border-radius: 2px;
			}

			.hamburger-button::before {
				content: "";
				margin-top: -0.38em;
			}

			.hamburger-button::after {
				content: "";
				margin-top: 0.38em;
			}

			#menu-container {
				ul {
					display: block;
					overflow: hidden;
					height: 0;
					padding: 0 2em;
					margin: 0;
					background: $border-color;

					transition: height $transition-time;

					li {
						text-align: left;
						margin-left: 0;

						width: auto;
						padding: 0.25em;

						a {
							text-decoration: none;
						}
					}

					li.here,
					li.here a {
						color: $emph-color !important;
					}

					li::before {
						background: none;
						margin-left: 0;
						margin-right: 0;
						width: 0;
					}
				}
			}

			input#menu-box:checked ~ #menu-container ul {
				height: auto;
				padding-top: 1em;
				padding-bottom: 1em;
				transition: height $transition-time;
			}

			input#menu-box:checked
				~ .hamburger-container
				.hamburger-button:before {
				transform: translateY(0.38em) rotate(405deg);
			}

			input#menu-box:checked ~ .hamburger-container .hamburger-button {
				background-color: $emph-color;
			}

			input#menu-box:checked
				~ .hamburger-container
				.hamburger-button:after {
				transform: translateY(-0.38em) rotate(-405deg);
			}
		}
	}

	main {
		padding: 1.5em 2em;
	}

	footer {
		font-size: 90%;
		margin-top: auto;
		margin-left: calc(-3.13em / 2);
		padding: 1em;
		border-top: $border-color $border-size solid;

		p {
			text-align: center;
		}
	}
}

@media (width < $threshold-small-font) {
	article figure {
		width: 100%;
	}
}
