@charset "UTF-8";
/* Color palette: https://flatuicolors.com/palette/cn */
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans"), url("fonts/FiraSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), url("fonts/FiraSans-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Italic"), url("fonts/FiraSans-Italic.ttf");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold Italic"), url("fonts/FiraSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
body {
  margin: 0;
  font: 12pt "Fira Sans", sans-serif;
  color: #111111;
}

canvas {
  position: fixed;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
}

/* a {
    color: inherit;
    text-decoration: underline solid;
}

    a:hover {
        text-decoration: none;
    } */
blockquote {
  position: relative;
  margin: 0 0 0 24px;
}

blockquote::before {
  content: "“";
  color: #22a6b3;
  /* font-family: 'Josefin Sans'; */
  font-size: 2.5em;
  position: absolute;
  top: -0.1em;
  left: -24px;
}

blockquote cite::before {
  content: "— ";
}

@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
.important {
  color: #22a6b3;
}

.alsoimportant {
  color: #eb4d4b;
}

.goto {
  padding-left: 16px;
  font-weight: bold;
}

.goto::before {
  content: "› ";
}

a {
  color: inherit;
  text-decoration: underline dotted;
}

a:hover {
  text-decoration: none;
}

a.anchor {
  display: block;
  position: relative;
  top: -32px;
  visibility: hidden;
}

h2::before {
  content: "› ";
}

h3 {
  font-variant: small-caps;
  font-weight: normal;
}

#relative-wrap-aside {
  position: relative;
}

#navbar-mobile {
  display: none;
}

aside {
  position: fixed;
  top: 64px;
  left: calc(50vw - 600px);
  height: calc(100vh - 128px - 32px);
  width: 220px;
  padding: 32px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(25, 25, 25, 0.9411764706);
  color: #F4F4F4;
  text-align: right;
  border-radius: 16px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.13);
}

aside a {
  color: inherit;
  text-decoration: inherit;
}

aside a:hover {
  text-decoration: inherit !important;
}

aside #header {
  text-align: center;
}

aside h1 {
  width: 100%;
  /* border-bottom: 1px solid #444444; */
  margin-top: 0;
  /* padding-bottom: 8px; */
  text-align: center;
  font-size: 20pt;
}

aside #avatar {
  position: fixed;
  background: url("img/photo.jpg") no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 220px;
  min-height: 220px;
  width: 220px;
  min-width: 220px;
  top: 32px;
  left: calc(50vw - 600px + 32px);
  margin-bottom: 32px;
  border-radius: 16px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.13);
  /* border: solid 3px #111111; */
  /* box-shadow: 0 2px 4px 0px #111111;
         -webkit-transition: background-image 200ms ease-in-out;
         transition: background-image 200ms ease-in-out; */
}

aside #fake-avatar {
  display: relative;
  min-height: 172px;
  height: 172px;
}

/* aside #avatar:hover {
        background: url("img/photo-col.jpg") no-repeat center;
        background-size: contain;
        transition: background-image 200ms;
    } */
aside ul {
  padding-left: 0;
  list-style: none;
  margin-top: 32px;
  font-size: 15pt;
  font-weight: bold;
}

aside li {
  border-radius: 16px;
  padding: 0;
  margin: 16px 0 0 0;
  transition: color 200ms;
}

aside li:hover {
  color: #22a6b3;
  transition: color 200ms;
}

aside ul ul {
  margin-top: 0;
  padding: 0;
  font-size: 12pt;
}

aside ul ul li {
  margin: 2px 0 0 0;
}

aside li:hover ul {
  color: #F4F4F4 !important;
}

aside .mail,
main .mail {
  color: #22a6b3;
}

aside .copyright {
  text-align: left;
  font-size: 10pt;
  margin-bottom: 0;
}

main {
  position: absolute;
  width: 884px;
  left: calc(50vw - 600px + 220px + 64px + 32px);
  padding: 64px 0 32px 0;
}

main .copyright {
  display: none;
}

section > article:first-of-type {
  margin-top: 0;
}

section > article:last-child {
  margin-bottom: 0;
}

article,
header,
footer {
  position: relative;
  background-color: rgba(244, 244, 244, 0.9411764706);
  border-radius: 16px;
  margin: 32px 0;
  padding: 32px;
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.13);
}

header {
  display: none;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
}

header img {
  border-radius: 16px;
  margin-right: 32px;
}

footer {
  margin-bottom: 0;
}

:is(article, header, footer, #talksArticleContent, #publicationsArticleContent) > *:first-child {
  margin-top: 0px;
}

:is(article, header, footer, #talksArticleContent, #publicationsArticleContent) > *:last-child {
  margin-bottom: 0px;
}

/* article#news {
    background: $bluef0;
    color: #F4F4F4;
}

article#didyouknow {
    background: $bluef0;
    color: #F4F4F4;
} */
.row {
  display: flex;
}

.row article {
  margin: 0;
}

.row .column {
  flex: 50%;
  margin: 0 32px 0 0;
}

.row .column:last-child {
  margin-right: 0;
}

.row .column.small {
  flex: 45%;
}

.row .column.large {
  flex: 55%;
}

/* table {
    width: 100%;
    border-collapse: collapse;
}

table :is(td, th)  {
    border: 1px solid #bbb;
    padding: 6px 12px;
}

table thead tr, table tbody tr:nth-child(2n) {
    background-color: #eeeeee;
}

table th {
    text-align: left;
    font-weight: 700;
}

table td {
    text-align: left;
    font-weight: 400 !important;
}

table td:first-child {
    flex-wrap: nowrap;
} */
a.doi {
  color: #22a6b3;
  padding-left: 16px;
  font-weight: 700;
  font-size: 90%;
  font-variant: small-caps;
}

a.pdf {
  color: #f0932b;
  padding-left: 16px;
  font-weight: 700;
  font-size: 90%;
  font-variant: small-caps;
}

/* :is(a.pdf, a.doi):before {
	content: '['
}

:is(a.pdf, a.doi):after {
	content: ']'
} */
.copyright a {
  color: inherit;
}

ul.recent {
  padding-left: 0px;
  list-style-type: none;
}

/* p.talk {
	margin: 0;
} */
ul.talkGrouped,
ul.talkSorted {
  list-style-type: none;
  padding-left: 0;
}

ul.talkGrouped > li,
ul.talkSorted > li {
  margin-top: 12px;
}

ul.talkGrouped > li ul {
  list-style-type: none;
  margin-left: 24px;
  padding: 0;
}

span.paperTitle,
span.talkGroupedTitle {
  font-weight: bold;
}

span.talkDateGrouped,
span.talkDateSorted {
  font-variant: small-caps;
}

span.talkConferenceSorted {
  font-weight: bold;
}

span.talkTitle {
  font-style: italic;
}

span.paperOther,
span.talkOther {
  display: inline-block;
  margin-left: 24px;
  margin-top: 0;
}

span.paperNote {
  font-weight: bold;
  font-size: 90%;
  color: #eb4d4b;
}

span.blackboard {
  padding-left: 16px;
  font-weight: 700;
  font-size: 90%;
  font-variant: small-caps;
}

/*
	Slider
	based on https://codepen.io/alvarotrigo/pen/YzEdrKj
*/
.toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 35px;
  right: 32px;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 43.5px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.25s;
}

.toggle-switch:before {
  box-shadow: 0 0 0 0.4px rgba(0, 0, 0, 0.1);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #22a6b3;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 22.5px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-right: 6px;
  position: relative;
  top: 1.5px;
  /* font-weight: bold; */
  font-variant: small-caps;
}

@media screen and (max-width: 1300px) {
  aside {
    left: calc(50vw - 400px);
  }
  main {
    width: 484px;
    left: calc(50vw - 400px + 220px + 64px + 32px);
  }
  aside #avatar {
    top: 32px;
    left: calc(50vw - 400px + 32px);
  }
  .row {
    flex-wrap: wrap;
  }
  .row .column {
    flex: calc(100% - 64px);
    min-width: calc(100% - 64px);
    margin: 0;
  }
  /* .row .column:last-child {
             margin-bottom: 0; 
         } */
  .row .column.small {
    flex: calc(100% - 64px);
  }
  .row .column.large {
    flex: calc(100% - 64px);
  }
}
@media screen and (max-width: 900px), screen and (orientation: portrait) {
  a.anchor {
    top: -64px;
  }
  #navbar-mobile {
    z-index: 1000;
    display: block;
    position: fixed;
    height: 64px;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(25, 25, 25, 0.9411764706);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.13);
  }
  #navbar-mobile .hamburger {
    z-index: 1001;
    position: absolute;
    padding: 20px 0px;
    left: 64px;
  }
  #navbar-mobile .hamburger-inner,
  #navbar-mobile .hamburger-inner::before,
  #navbar-mobile .hamburger-inner::after {
    background: #f4f4f4 !important;
  }
  #navbar-mobile #menu-container {
    width: 100vw;
    position: absolute;
    top: 64px;
    left: 0;
    transform: translate(0, -600px);
    transform-origin: top;
    transition: all 400ms;
    background: rgba(25, 25, 25, 0.9411764706);
  }
  #navbar-mobile #menu-container.is-active {
    transform: translate(0, 0);
    transition: all 400ms;
  }
  #navbar-mobile ul#menu-mobile {
    position: relative;
    list-style: none;
    margin: 0 0 64px 0;
    padding: 0 64px;
    text-align: right;
  }
  #navbar-mobile ul#menu-mobile,
  #navbar-mobile ul#menu-mobile a {
    color: #F4F4F4;
    font-size: 15pt;
    font-weight: bold;
  }
  #navbar-mobile ul#menu-mobile li {
    margin: 16px 0 0 0;
  }
  #navbar-mobile ul#menu-mobile li:first-child {
    margin: 0;
  }
  aside {
    display: none;
  }
  main {
    width: calc(100vw - 128px);
    left: 64px;
    padding-top: 96px;
  }
  aside .copyright {
    display: none;
  }
  main .copyright {
    display: block;
  }
  main .copyright {
    font-size: 11pt;
  }
  header {
    display: flex;
  }
}
@media screen and (max-width: 560px) {
  body {
    font-size: 90%;
  }
  main {
    width: calc(100vw - 48px);
    left: 24px;
  }
  #navbar-mobile .hamburger {
    left: 32px;
  }
  #navbar-mobile ul#menu-mobile {
    padding: 0 32px;
  }
  article {
    padding: 24px;
    margin: 24px 0;
  }
  header {
    padding: 16px 24px;
    margin: -12px 0 24px 0;
  }
  header img {
    margin-right: 24px;
  }
  footer {
    padding: 24px;
    margin: 24px 0 -12px 0;
  }
  .toggle {
    top: 27px;
  }
}
@media screen and (max-width: 450px) {
  .toggle {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 0px;
    width: 100%;
    text-align: right;
    float: right;
    margin-bottom: 4px;
  }
}

/*# sourceMappingURL=design.css.map */
